/* 全体のスタイル */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* admin-containerのスタイル */
.admin-container {
    margin: 0 10px;
    display: block; /* flexからblockに変更 */
}

/* ナビゲーションのスタイル */
.admin-nav {
    width: 200px;
    background-color: #333;
    color: #fff;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    height: calc(100% - 30px); /* フッターの高さ分を引く */
    overflow-y: auto;
}

.admin-logo {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.admin-menu {
    list-style-type: none;
    padding: 0;
}

.admin-menu li {
    margin-bottom: 10px;
}

.admin-menu a {
    color: #fff;
    text-decoration: none;
}

.admin-menu a:hover {
    color: #666;
}

.success-message {
    background-color: #d4edda;
    color: #155724;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #c3e6cb;
    border-radius: 4px;
}

.error-message {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #f5c6cb;
    border-radius: 4px;
}

/* メインコンテンツのスタイル */
.admin-main {
    flex-grow: 1;
    padding: 20px 20px 60px 40px; /* 左のパディングを40pxに増やす */
    box-sizing: border-box;
    margin-left: 200px;
}

h2 {
    color: #333;
}

/* ダッシュボードウィジェットのスタイル */
.dashboard-widgets {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.widget {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    width: 30%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.widget h3 {
    margin-top: 0;
    color: #666;
}

.widget-value {
    font-size: 2em;
    font-weight: bold;
    color: #333;
}

/* 最近の活動のスタイル */
.recent-activity {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.recent-activity h3 {
    margin-top: 0;
    color: #666;
}

.recent-activity ul {
    padding-left: 20px;
}

/* データ登録フォームのスタイル */
.data-form-container {
    position: relative;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    margin: 20px auto 80px; /* 下部に余白を追加 */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    max-width: 800px; /* フォームの最大幅を設定 */
    width: 90%; /* 画面幅の90%を使用 */
}

.data-form-container h3 {
    margin-top: 0;
    color: #333;
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
}

.data-form {
    margin-top: 20px;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #666;
}

.form-group input[type="text"],
.form-group input[type="date"],
.form-group input[type="number"],
.form-group input[type="tel"],
.form-group input[type="email"],
.form-group input[type="month"],
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box; /* パディングを幅に含める */
    margin-bottom: 1rem;
}

.form-group textarea {
    height: 150px;
}

.required {
    color: #f44336;
    margin-left: 5px;
}

.public {
    color: white;
    background-color: #707070;
    padding: 5px;
    margin-left: 5px;
    border-radius: 10px;
}

/* データ一覧テーブルのスタイル */
.data-list-container {
    margin-top: 40px;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.data-table-wrapper {
    overflow-x: auto;
    max-width: 100%;
    -webkit-overflow-scrolling: touch;
}

.data-table thead {
    position: sticky;
    top: 0;
    background-color: #f8f8f8;
    z-index: 1;
}

.data-table {
    width: 100%;
    border-collapse: collapse;
    min-width: 800px; /* Add this line to ensure a minimum width */
}

.data-table th,
.data-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

.data-table th {
    background-color: #f8f8f8;
    font-weight: bold;
}

.data-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table-required {
    position: absolute;
    font-size: 0.8rem;
    color: #f44336;
    margin-left: 0;
}

/* ボタンのスタイル */
.form-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    text-align: center;
}

.submit-btn,
.cancel-btn {
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    display: block; /* ボタンをブロック要素に */
    width: 200px; /* ボタンの幅を固定 */
}

.submit-btn {
    background-color: #007bff;
    color: #fff;
}

.submit-btn:hover {
    background-color: #0056b3;
}

.cancel-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #e6e6e6;
    color: #333;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid #999;
    cursor: pointer;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    transition: background-color 0.3s, color 0.3s;
}

.cancel-btn::before {
    content: "\2715";  /* Unicode for × */
}

.cancel-btn:hover {
    background-color: #c13535;
    color: #fff;
}


.new-entry-btn {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 20px;
}

.new-entry-btn:hover {
    background-color: #218838;
}

.edit-btn,
.delete-btn,
.cancel-btn {
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    margin-right: 5px;
}

.edit-btn {
    background-color: #ffc107;
    color: black;
}

.delete-btn {
    background-color: #f44336;
    color: white;
}

.edit-btn:hover,
.delete-btn:hover {
    opacity: 0.8;
}

/* タブのスタイル */
.tabs {
    display: flex;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}

.tab-button {
    background-color: #f8f8f8;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 20px;
    transition: 0.3s;
    font-size: 17px;
}

.tab-button:hover {
    background-color: #ddd;
}

.tab-button.active {
    background-color: #ccc;
}

.tab-content {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.tab-content.active {
    display: block;
}

/* メディアクエリ */
@media (min-width: 768px) {
    .admin-container {
        margin: 0 10px;
    }

    .admin-nav {
        width: 200px;
        position: fixed;
        height: calc(100% - 30px);
    }

    .admin-menu {
        display: block;
    }

    .admin-menu li {
        margin-bottom: 10px;
    }

    .admin-main {
        margin-left: 200px;
        padding: 20px 20px 60px 40px;
    }

    .dashboard-widgets {
        flex-direction: row;
    }

    .widget {
        width: 30%;
    }

    .data-form-container {
        width: 90%;
        max-width: 800px;
        padding: 20px;
    }

    .data-table {
        font-size: 16px;
    }

    .data-table th,
    .data-table td {
        padding: 10px;
    }

    .tab-button {
        width: auto;
        margin-bottom: 0;
    }
}
